# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/
.turbo/

# Environment variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db
